body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #004080;
  color: white;
  padding: 20px;
  text-align: center;
}

h1, h2 {
  color: #004080;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

section {
  margin-bottom: 30px;
}

ul {
  list-style-type: square;
}
